/*
!/.gitignore
!/query.sql

!/admin
/admin/*
!/admin/controller
/admin/controller/*
!/admin/controller/extension
/admin/controller/extension/*
!/admin/controller/extension/shipping
/admin/controller/extension/shipping/*
!/admin/controller/extension/shipping/shindo.php

!/admin/controller/localisation
/admin/controller/localisation/*
!/admin/controller/localisation/country.php

!/admin/controller/sale
/admin/controller/sale/*
!/admin/controller/sale/order.php

!/admin/language
/admin/language/*
!/admin/language/en-gb
/admin/language/en-gb/*
!/admin/language/en-gb/extension
/admin/language/en-gb/extension/*
!/admin/language/en-gb/extension/shipping
/admin/language/en-gb/extension/shipping/*
!/admin/language/en-gb/extension/shipping/shindo.php

!/admin/language/en-gb/sale
/admin/language/en-gb/sale/*
!/admin/language/en-gb/sale/order.php

!/admin/model
/admin/model/*
!/admin/model/extension
/admin/model/extension/*
!/admin/model/extension/shipping
/admin/model/extension/shipping/*
!/admin/model/extension/shipping/shindo.php

!/admin/model/sale
/admin/model/sale/*
!/admin/model/sale/order.php

!/admin/model/localisation
/admin/model/localisation/*
!/admin/model/localisation/district.php

!/admin/view
/admin/view/*
!/admin/view/template
/admin/view/template/*
!/admin/view/template/extension
/admin/view/template/extension/*
!/admin/view/template/extension/shipping
/admin/view/template/extension/shipping/*
!/admin/view/template/extension/shipping/shindo.tpl

!/admin/view/template/sale
/admin/view/template/sale/*
!/admin/view/template/sale/order_form.tpl

!/catalog
/catalog/*
!/catalog/controller
/catalog/controller/*
!/catalog/controller/account
/catalog/controller/account/*
!/catalog/controller/account/address.php
!/catalog/controller/account/account.php
!/catalog/controller/account/register.php
!/catalog/controller/account/login.php

!/catalog/controller/checkout
/catalog/controller/checkout/*
!/catalog/controller/checkout/shipping_method.php
!/catalog/controller/checkout/payment_address.php
!/catalog/controller/checkout/shipping_address.php
!/catalog/controller/checkout/guest.php
!/catalog/controller/checkout/guest_shipping.php
!/catalog/controller/checkout/confirm.php
!/catalog/controller/checkout/login.php
!/catalog/controller/checkout/register.php

!/catalog/controller/extension
/catalog/controller/extension/*
!/catalog/controller/extension/total
/catalog/controller/extension/total/*
!/catalog/controller/extension/total/shipping.php

!/catalog/controller/api
/catalog/controller/api/*
!/catalog/controller/api/order.php
!/catalog/controller/api/payment.php
!/catalog/controller/api/shipping.php

!/catalog/model
/catalog/model/*
!/catalog/model/localisation
/catalog/model/localisation/*
!/catalog/model/localisation/district.php

!/catalog/model/account
/catalog/model/account/*
!/catalog/model/account/address.php
!/catalog/model/account/customer.php

!/catalog/model/checkout
/catalog/model/checkout/*
!/catalog/model/checkout/order.php

!/catalog/model/extension
/catalog/model/extension/*
!/catalog/model/extension/shipping
/catalog/model/extension/shipping/*
!/catalog/model/extension/shipping/igsjne.php
!/catalog/model/extension/shipping/igspos.php
!/catalog/model/extension/shipping/igstiki.php

!/catalog/language
/catalog/language/*
!/catalog/language/en-gb
/catalog/language/en-gb/*
!/catalog/language/en-gb/account
/catalog/language/en-gb/account/*
!/catalog/language/en-gb/account/address.php
!/catalog/language/en-gb/account/register.php

!/catalog/language/en-gb/checkout
/catalog/language/en-gb/checkout/*
!/catalog/language/en-gb/checkout/checkout.php

!/catalog/language/en-gb/extension
/catalog/language/en-gb/extension/*
!/catalog/language/en-gb/extension/shipping
/catalog/language/en-gb/extension/shipping/*
!/catalog/language/en-gb/extension/shipping/igstiki.php
!/catalog/language/en-gb/extension/shipping/igspos.php
!/catalog/language/en-gb/extension/shipping/igsjne.php

!/catalog/language/en-gb/extension/total
/catalog/language/en-gb/extension/total/*
!/catalog/language/en-gb/extension/total/shipping.php

!/catalog/view
/catalog/view/*
!/catalog/view/theme
/catalog/view/theme/*
!/catalog/view/theme/default
/catalog/view/theme/default/*
!/catalog/view/theme/default/template
/catalog/view/theme/default/template/*
!/catalog/view/theme/default/template/account
/catalog/view/theme/default/template/account/*
!/catalog/view/theme/default/template/account/address_form.tpl
!/catalog/view/theme/default/template/account/register.tpl

!/catalog/view/theme/default/template/extension
/catalog/view/theme/default/template/extension/*
!/catalog/view/theme/default/template/extension/total
/catalog/view/theme/default/template/extension/total/*
!/catalog/view/theme/default/template/extension/total/shipping.tpl

!/catalog/view/theme/default/template/checkout
/catalog/view/theme/default/template/checkout/*
!/catalog/view/theme/default/template/checkout/payment_address.tpl
!/catalog/view/theme/default/template/checkout/shipping_address.tpl
!/catalog/view/theme/default/template/checkout/guest_shipping.tpl
!/catalog/view/theme/default/template/checkout/guest.tpl
!/catalog/view/theme/default/template/checkout/shipping_method.tpl
!/catalog/view/theme/default/template/checkout/register.tpl
